.PostTitleBox {
    border-bottom: 2px solid #e9f4ff;
}

.PostTitleBox .date-time{
    font-weight: bold;
    color: #666666;
}

.PostTitleBox + hr {
    /*border: 1px solid black;*/
    width: 25%;
    /*margin-top: -5px;*/
    /*margin-bottom: 20px;*/
}