.App{
    min-height: 100vh;
}

.App .app-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 25px;
}

.App header{
    background-color: #222;
    height: 50px;
    color: white;
    margin-bottom: 25px;
}

.App header a{
    text-decoration: none;
    color: white;
}

.App main{
    margin-bottom: 25px;
}

.App main .color-banner{
    background-color: #ffae32;
    height: 300px;
}

.App footer{
    height: 50px;
    text-align: center;
}

/*.App footer hr{*/
    /*border: 1px solid #9ac4ff;*/
    /*width: 25%;*/
    /*margin-bottom: 20px;*/
/*}*/