.action {
    --action-color: #3a9ade;
    font-size: 1.4em;
    font-family: monospace;
    color: var(--action-color);
    text-decoration: none;
}

.action.dark {
    --action-color-dark: #ffffff;
    color: var(--action-color-dark);
}

.action.bordered {
    text-transform: lowercase;
    padding: 7px 12px;
    border: 1px solid var(--action-color);
    border-radius: 5px;
}

.action.bordered.dark {
    border: 1px solid var(--action-color-dark);
}

.action.tag {
    margin: 0 5px 5px 0;
    padding: 2px 6px;
    font-size: 1em;
    display: inline-block;
}

@media (hover: hover) {
    .action.bordered:hover {
        background-color: var(--action-color);
        border-color: var(--action-color);
        color: rgb(255, 255, 255);
    }
}