body {
    min-width: 350px;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

div, a, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    font-family: Arial, monospace;
}

.header-container, .app-container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1230px) {
    .header-container, .app-container {
        margin: 0 15px;
    }
}