body {
    min-width: 450px;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;;
}

a, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
}

.app-container {
    max-width: 1150px;
    margin: 0 auto;
}

header{
    padding-top: 101px;
    padding-bottom: 40px;
}

footer {
    /*background-color: black;*/
    /*color: white;*/
    /*height: 300px;*/
    margin-top: 40px;
    /*text-align: center;*/
}