main {
    padding-top: 15px;
    padding-bottom: 15px;
}

.PostContentBox > * {
    margin-bottom: 10px;
}

.PostContentBox .staggered, .PostContentBox pre {
    margin-left: -50px;
    margin-right: -50px;
}

.PostContentBox h1 {
    font-weight: bold;
    font-size: 39px;
}

.PostContentBox h2 {
    font-weight: normal;
    font-size: 33px;
}

.PostContentBox p {
    font-size: 19px;
    line-height: 33px;
    text-align: justify;
    margin-bottom: 25px;
}

.PostContentBox pre {
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #f9f9f9 !important;
    border: 2px solid rgb(245, 245, 245) !important;
}

.PostContentBox pre code {
    font-size: 16px;
    line-height: 22px;
}

.PostContentBox pre code:first-child {
    margin-right: 15px;
    border-right: 1px solid rgb(237, 237, 237);
}

@media (max-width: 830px) {
    .PostContentBox .staggered, .PostContentBox pre {
        margin-left: inherit;
        margin-right: inherit;
    }
}
