footer {
    background-color: #242424;
}

footer .column {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin-right: 2.66666%;

    padding-top: 10px;
}

footer .column:last-child {
    margin-right: 0;
}

footer .column > * {
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    border-bottom: 1px solid #b8b8b8;
    padding: 10px 0;
}

footer .column > *:first-child {
    font-weight: bold;
    font-size: 14px;
}

footer .column > *:last-child {
    border-width: 0;
    padding-bottom: 20px;
}

@media (max-width: 960px) {
    footer .column {
        width: 47.5%;
        margin-right: 5%;
    }

    footer .column:nth-child(2n) {
        margin-right: 0;
    }

    footer .column > * {
        padding: 15px 0;
    }

    footer .column:first-child > *:last-child, footer .column:nth-child(2) > *:last-child {
        border-bottom: 3px solid #353535;
    }
}