.HeaderCategories {
    /*min-height: 40px;*/
    background-color: #2b2b2b;
}

.HeaderCategories .row {
    /*text-align: center;*/
    line-height: 40px;
    vertical-align: middle;
    /*
      TODO: This all looks better if you do left align in desktop and middle align in mobile.
      This also means I need to remove the left margin on the a tags in desktop. Keep them in
      mobile to keep things centered.

      Might want to try a two- or three-column table for the categories on mobile.
    */
}

.HeaderCategories a {
    font-size: 14px;
    color: #cbcbcb;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    transition: color 0.25s;
    user-select: none;
    /*margin: 0 12.5px 0 12.5px;*/
    margin: 0 25px 0 0;
    line-height: 16px;
}

.HeaderCategories a:hover {
    color: #f6f6f6;
}