header {
    padding-bottom: 82px;
}

.HeaderNavigation {
    background-color: rgba(255, 255, 255, 0.97);
    height: 80px;
    border-bottom: 2px solid rgba(244, 244, 244, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.HeaderNavigation .header-container {
    display: flex;
    flex-direction: row;
}

.HeaderNavigation .left, .HeaderNavigation .right {
    flex: 1;
}

.HeaderNavigation a {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    line-height: 75px;
}

.HeaderNavigation .left {
    text-align: left;
}

.HeaderNavigation img {
    vertical-align: middle;
    height: 50px;
}

.HeaderNavigation .right {
    text-align: right;
}

.HeaderNavigation .right a {
    margin-left: 10px;
}