.bottom{
    height: 45px;
    background-color: #2b2b2b;
}

.Header .bottom .app-container{
    display: flex;
    flex-direction: row;
}

.Header .row{
    flex: 1;
    /*padding: 0 15px;*/
}



.Header .app-container a{
    font-size: 18px;
    color: #999;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    transition: color 0.25s;
    user-select: none;
}

.Header .bottom a{
    margin-right: 5%;
    line-height:45px;
}

.Header .bottom a:hover{
    color: #d9d9d9;
}