.Navbar {
    background-color: #000000;
    padding: 20px 0;
    margin-bottom: 30px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 2;
}

.Navbar .app-container{
    display: flex;
    flex-direction: row;
}

.Navbar .app-container .left, .Navbar .app-container .right{
    flex: 1;
    /*line-height: 22px;*/
    /*padding: 15px 0;*/
}

.Navbar .app-container .left{
    text-align: left;
}

.Navbar .app-container .left img{
    text-align: left;
}

.Navbar .app-container .right{
    text-align: right;
}

.Navbar .app-container .right a{
    margin-left: 5%;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.Navbar .Name{
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}