.Header{
    padding-top: 101px;
    padding-bottom: 40px;
}

.top{
    background-color: rgba(252, 252, 252, 0.94);
    border-bottom: 1px solid #e6e6e6;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.bottom{
    height: 45px;
    background-color: #2b2b2b;
}

.Header .app-container{
    display: flex;
    flex-direction: row;
}

.Header .left, .Header .right, .Header .row{
    flex: 1;
    padding: 0 15px;
}

.Header .app-container a{
    font-size: 16px;
    color: #999;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    transition: color 0.25s;
}

.top .app-container .left {
    text-align: left;
}

.top .app-container .right {
    text-align: right;
}

.Header .top .left a {
    line-height: 100px;
}

.Header .top .left a  img {
    vertical-align: middle;
    height: 80px;
}

.Header .top .right a{
    margin-left: 5%;
    line-height: 100px;
}

.Header .top .right a:hover {
    color: #292929;
}

.Header .bottom a{
    margin-right: 5%;
    line-height:45px;
}

.Header .bottom a:hover{
}