.Navbar {
    background-color: #a23226;
    border-bottom: 20px solid #872d23;
    margin-bottom: 30px;
}

.Navbar .app-container{
    display: flex;
    flex-direction: row;
}

.Navbar a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.Navbar .app-container .left, .Navbar .app-container .right{
    flex: 1;
    line-height: 22px;
    padding: 15px 0;
}

.Navbar .app-container .left{
    text-align: left;
}

.Navbar .app-container .right{
    text-align: right;
}

.Navbar .app-container .right a{
    margin-left: 5%;
}

.Navbar .Name{
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width: 900px){
    .Navbar {
    }

    .Navbar .app-container{
        flex-direction: column;
    }

    .Navbar .app-container .left, .Navbar .app-container .right {
        text-align: center;
    }

    .Navbar .app-container .left{
        padding: 15px 0 7px;
    }

    .Navbar .app-container .right{
        padding: 8px 0 15px;
    }

    .Navbar .app-container .right a{
        margin: 0 5%;
    }
}