header {
    padding-bottom: 77px;
}

.HeaderNavigation {
    background-color: rgba(255, 255, 255, 0.97);
    height: 75px;
    border-bottom: 2px solid rgba(243, 243, 243, 0.90);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.HeaderNavigation .header-container {
    display: flex;
    flex-direction: row;
}

.HeaderNavigation .left, .HeaderNavigation .right {
    flex: 1;
    /*padding: 0 15px;*/
    /*TODO: This all looks better if you do remove padding in desktop and keep in mobile.*/
}

.HeaderNavigation a {
    font-size: 17px;
    color: #999;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    transition: color 0.25s;
    user-select: none;
    line-height: 75px;
}

.HeaderNavigation .left {
    text-align: left;
}

.HeaderNavigation img {
    vertical-align: middle;
    height: 55px;
}

.HeaderNavigation .right {
    text-align: right;
}

.HeaderNavigation .right a {
    margin-left: 5%;
}

.HeaderNavigation .right a:hover {
    color: #292929;
}