header {
    padding-bottom: 103px;
}

.HeaderNavigation {
    background-color: rgba(246, 246, 246, 0.98);
    border-bottom: 8px solid #ff4e42;
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.HeaderNavigation .header-container {
    display: flex;
    flex-direction: row;
}

.HeaderNavigation .left, .HeaderNavigation .right {
    flex: 1;
}

.HeaderNavigation a {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    line-height: 65px;
}

.HeaderNavigation .left {
    text-align: left;
}

.HeaderNavigation img {
    vertical-align: middle;
    height: 45px;
}

.HeaderNavigation .right {
    text-align: right;
}

.HeaderNavigation .right a {
    margin-left: 10px;
}