.language-flair {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    margin-right: 25px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.56);
    box-sizing: border-box;
}

.language-flair.orange {
    background-color: orange;
}