.language-flair {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    margin-right: 25px;
    border-radius: 50%;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

.language-flair.dark {
    color: #e5e5e5;
}

.language-flair.blue {
    background-color: #022751;
}

.language-flair.orange {
    background-color: orange;
}

