.PostContentBox {
    padding: 45px;
    min-height: 315px;
    background-color: white;
}

.PostContentBox > * {
    margin-bottom: 40px;
}

.PostContentBox h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 36px;
}

.PostContentBox p {
    font-size: 20px;
    line-height: 32px;
}

.PostContentBox code{
    font-size: 16px;
    font-weight: bold;
}