.PostTitleBox {
    position: relative;
    background-size: cover;
    background: url('../img/lambda.png') no-repeat center;

    min-height: 180px;
    height: 180px;
    max-height: 180px;

    margin-bottom: 25px;

    border-bottom: 15px solid #ffa433;
    padding: 30px;
}

.PostTitleBox > * {
    position: relative;
    z-index: 1;
    user-select: none;
    cursor: default;
    color: black;
}

.PostTitleBox .category-title {
    font-weight: bolder;
    font-size: 52px;
}

.PostTitleBox .category-subtitle {
    font-weight: normal;
    font-size: 30px;
}