.PostContentBox > * {
    margin-bottom: 20px;
}

.PostContentBox h1 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 32px;
}

.PostContentBox p {
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

.PostContentBox pre code {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}

.PostContentBox pre code:first-child {
    margin-right: 5px;
}