.PostTitleBox {
    background-color: black;
    min-height: 180px;
    height: 180px;
    max-height: 180px;
    border-bottom: 15px solid orange;
    padding: 35px 50px;
    margin-bottom: 25px;
}

.PostTitleBox .category-title{
    color: white;
    font-weight: bolder;
    font-size: 48px;
}

.PostTitleBox .category-subtitle{
    color: white;
    font-weight: normal;
    font-size: 22px;
}