.PostTitleBox {
    position: relative;
    background-size: cover;
    background: url('../img/lambda.gif') no-repeat center;

    min-height: 180px;
    height: 180px;
    max-height: 180px;
    border-bottom: 15px solid orange;
    padding: 30px;
    margin-bottom: 25px;
}

.PostTitleBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.3;
    z-index: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.PostTitleBox:hover:before {
    opacity: 0.55;
}

.PostTitleBox > * {
    position: relative;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    color: white;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}

.PostTitleBox .category-title {
    font-weight: bolder;
    font-size: 52px;
}

.PostTitleBox .category-subtitle {
    font-weight: normal;
    font-size: 30px;
}