.PostContentBox > * {
    margin-bottom: 20px;
}

.PostContentBox h1 {
    padding-top: 10px;
    font-weight: normal;
    font-size: 22px;
}

.PostContentBox p {
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}

.PostContentBox pre code {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}

.PostContentBox pre code:first-child {
    margin-right: 5px;
}