.box-with-shadow {
    background-color: #fbfbfb;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
}

.blog-column {
    padding: 35px 30px;
    margin-bottom: 25px;
    min-height: 315px;
    background-color: white;
}

.category-banner {
    background-color: #F39C12;
    height: 275px;
}

.app-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
}