.color-banner {
    background-color: #f4f4f4;
    border: 1px solid #ebebeb;
}

.color-banner .app-container {
    background-color: inherit;
    padding: 35px 0;
    border: none;
    box-shadow: none;
}

.color-banner .app-container .title {
    font-size: 2.3em;
    letter-spacing: -1px;
}

.color-banner .reserve {
    height: 175px;
}

/*============================================================*/

.content-container {
    margin-top: -175px;
    margin-bottom: 75px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 25px 35px;
}

/*============================================================*/

.description-section {
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
}

.description-section .info-box {
    display: flex;
    margin-bottom: 15px;
}

.description-section .info-box .date-time {
    font-family: monospace;
    font-size: 1em;
    margin-bottom: 5px;
}

.description-section .info-box .description-box {
    flex: 1;
    margin-right: 25px;
}

.description-section .info-box .description-box .description {
    flex: 1;
    font-size: 1.05em;
    vertical-align: top;
}

/*============================================================*/

.content-section > * {
    margin-bottom: 25px;
}

.content-section > *:last-child {
    margin-bottom: 95px;
}

.content-section h2 {
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 10px;
    margin-bottom: 7px;
}

.content-section p {
    font-size: 1.15em;
    line-height: 1.65em;

    letter-spacing: -0.5px;
}

.content-section pre {
    padding: 10px !important;
    background-color: #f2f4f9 !important;
    border-left: 6px solid #4484ab !important;
}

.content-section pre code {
    font-size: 1.1em;
    line-height: 1.4em;
}

.content-section pre code:first-child {
    margin-right: 10px;
    border-right: 1px solid rgb(212, 212, 212);
}

/*============================================================*/

@media (max-width: 970px) {
    .content-container {
        padding: 25px 20px;
    }
}

@media (max-width: 530px) {
    .content-container {
        margin-left: 0;
        margin-right: 0;
    }
}