.MainContainer {
    margin-top: -250px;
    display: flex;
    flex-flow: row;
}

.box-with-shadow {
    background-color: #fbfbfb;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
}

.blog-column {
    margin-right: 12px;
    padding: 35px;
    flex: 2;
    min-height: 600px;
}

.about-me-column {
    margin-left: 12px;
    flex: 1;
    height: 300px;
}

@media only screen and (max-width: 1010px) {
    .MainContainer{
        flex-flow: column;
    }

    .blog-column {
        margin: 0;
        width: inherit;
        order: 2;
    }

    .about-me-column {
        margin: 0 0 25px 0;
        width: inherit;
        order: 1;
        height: 130px;
    }
}

.MainContainer .post-title-box {
    border-bottom: 2px solid #e9f4ff;
}

/*.MainContainer .title-box .title{*/
/*font-size: 3em;*/
/*font-weight: bold;*/

/*text-overflow: clip;*/
/*white-space: nowrap;*/
/*overflow: hidden;*/
/*}*/

/*.MainContainer .title-box .subtitle{*/
/*font-size: 3em;*/
/*font-weight: normal;*/

/*text-overflow: clip;*/
/*white-space: nowrap;*/
/*overflow: hidden;*/
/*}*/

.MainContainer .title-box + hr {
    /*border: 1px solid black;*/
    width: 25%;
    /*margin-top: -5px;*/
    /*margin-bottom: 20px;*/
}

/*.MainContainer-logo {*/
/*animation: MainContainer-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/

/*.MainContainer-header {*/
/*background-color: #222;*/
/*height: 150px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/

/*.MainContainer-intro {*/
/*font-size: large;*/
/*}*/

/*@keyframes MainContainer-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
