.MainContainer {
    margin-top: -350px;
    display: flex;
    flex-flow: row;
}

.box-with-shadow {
    background-color: #fbfbfb;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
}

.blog-column {
    margin-right: 10px;
    padding: 35px 20px;
    flex: 2;
    min-height: 600px;
}

.about-me-column {
    margin-left: 10px;
    flex: 1;
    height: 300px;
}

@media only screen and (max-width: 850px) {
    .MainContainer {
        flex-flow: column;
    }

    .blog-column {
        margin: 0;
        width: inherit;
        order: 2;
    }

    .about-me-column {
        margin: 0 0 20px 0;
        width: inherit;
        order: 1;
        height: 130px;
    }
}

.MainContainer .post-title-box {
    border-bottom: 2px solid #e9f4ff;
}

.MainContainer .post-title-box .date-time{
    font-weight: bold;
    color: #666666;
}

.MainContainer .title-box + hr {
    /*border: 1px solid black;*/
    width: 25%;
    /*margin-top: -5px;*/
    /*margin-bottom: 20px;*/
}

.MainContainer .post-context-box p {
    margin: 20px 0;
}