/*.MainContainer {*/
/*text-align: center;*/
/*}*/

.MainContainer {
    margin-top: -210px;
    padding: 25px;
    min-height: 600px;
    background-color: #fbfbfb;


    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
}

.MainContainer .title-box{
    /*background-color: #9ac4ff;*/
    height: 185px;
    /*text-align: center;*/
}

.MainContainer .title-box .title{
    font-size: 3em;
    font-weight: bold;

    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.MainContainer .title-box .subtitle{
    font-size: 3em;
    font-weight: normal;

    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.MainContainer .title-box + hr{
    /*border: 1px solid black;*/
    width: 25%;
    margin-top: -5px;
    margin-bottom: 20px;
}

/*.MainContainer-logo {*/
/*animation: MainContainer-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/

/*.MainContainer-header {*/
/*background-color: #222;*/
/*height: 150px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/

/*.MainContainer-intro {*/
/*font-size: large;*/
/*}*/

/*@keyframes MainContainer-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
