* {
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}

body {
    background-color: #374a4b;
    padding: 20px;
}

a{
    text-decoration: none !important;
    font-weight: bolder;
    color: #efefef;
}

a:hover{
    color: #87d97f;
}

::selection {
    background: #87d97f;
    color: white;
}

::-moz-selection {
    background: #87d97f;
    color: white;
}

.container-outer {
    margin: 0 auto;
    width: 100%;
    background-color: #212a2b;
}
