#lee-column {
  width: 40%;
  background-color: black;

  .content {
    margin-top: 40vh;
    //background-color: red;
    text-align: center;

    .text {
      &-headline {
        color: white;
        font-size: 52pt;
      }

      &-subheadline {
        color: white;
        font-size: 18pt;
      }

      //&-description {
      //  color: white;
      //  font-size: 15pt;
      //}
    }
  }

  .social-footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    text-align: center;

    .social-icon{
      text-decoration: none;
      background-color: #f0f0f0;
      display: inline-block;
      width:20px;
      height:20px;
      line-height: 20px;
      padding: 7px;
      border-radius: 50%;

      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition:         transform 0.3s ease-in-out;

      img {
        vertical-align: middle;
        width: 20px;
        height: 20px;
      }

      &:hover{

        -webkit-transform: rotate(  360deg);
        transform: rotate(360deg);
      }
    }
  }
}

.collapsed #lee-column {
  width: 92%;
  margin-left: 4%;
}