#lee-column {
  width: 40%;
  background-color: black;

  .content {
    margin-top: 40vh;
    background-color: red;
    text-align: center;

    .text {
      &-headline {
        color: white;
        font-size: 52pt;
      }

      &-subheadline {
        color: white;
        font-size: 18pt;
      }

      &-description {
        color: white;
        font-size: 15pt;
      }
    }
  }

  .social-footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    text-align: center;

  }
}

.collapsed #lee-column {
  width: 92%;
  margin-left: 4%;
}

img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition:         transform 0.5s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}