a {
    text-decoration: none !important;
    color: #efefef;
}

a:hover {
    color: #efefef;
}

.extraPadded{
    padding-bottom: 25px;
}

.postTitle{
    font-size: 20pt;
}

.postDate {
    font-size: 10pt;
    font-weight: bold;
    color: #dddddd;
}

.postText{
    font-size: 14pt;
    color: #dddddd;
}

.pageSelect{
    display: inline;
    font-size: 13pt;
    padding-right: 15px;
}

.pageSelect .pageSelected{
    font-weight: bold;
}