.post a {
    font-size: 20pt;
}

.postDate {
    font-size: 10pt;
    font-weight: lighter;
    color: #dddddd;
}

.postText{
    font-size: 14pt;
    color: #efefef;
}

.pageSelect{
    display: inline;
    font-size: 13pt;
    padding-right: 15px;
}

.pageSelect .pageSelected{
    font-weight: bold;
}