body{
  min-width: 365px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: sans-serif;
  background-color: #f1f1f1;;
}

a, p, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: sans-serif;
  color: #3a4250;
}